.image-container {
  position: relative;
}

.main-bg {
  position: relative;
  width: 100%;
  height: 630px;
}

.text-content {
  position: absolute;
  width: 600px;
  z-index: 99;
  left: 150px;
  top: 120px;
}

.text-content2 {
  display: none;
}

p {
  font-family: Geomanist, Helvetica, Arial, sans-serif;
  font-size: 51.008px;
  margin-bottom: 20px;
  font-weight: -2;
  line-height: 60.1894px;
  color: #0d016b;
}

h2 {
  font-family: Geomanist, Helvetica, Arial, sans-serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 20px;
  color: #a20fb7;
  margin-bottom: 20px;
}

.action-button {
  background-color: #f8e9ff;
  margin-top: 20px;
  color: #a20fb7;
  padding: 10px 20px;
  border-color: #a20fb7;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.action-button:hover {
  background-color: #1a237e;
  color: white;
}

#full-width-image {
  width: 100%;
}

.content-section .content-1 {
  background-color: white;
  padding: 20px 250px 20px 250px;
}

.content-section .content-1 h1 {
  font-size: 30px;
  padding: 20px 0px 20px 0px;
  color: #0d016b;
}

.content-section .content-1 p {
  font-size: 25px;
  line-height: 35px;
  text-align: justify;
}

.content-section .content-1 h2 {
  font-size: 22px;
  padding: 20px 0px 20px 0px;
  color: #0d016b;
}

.content-section .content-2 {
  display: flex;
  background-color: white;
  padding: 20px 150px 20px 150px;
}

.content-section .content-2 .sl1 .sliderimg {
  width: 100%;
  height: 300px;
}

.content-section .content-2 .sl1data {
  padding: 0px 30px 0px 30px;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */
  .text-content {
    display: none;
  }

  .main-bg {
    position: relative;
    width: 100%;
    height: 280px;
    background-position: center;
  }

  p {
    font-family: Geomanist, Helvetica, Arial, sans-serif;
    font-size: 20.008px;
    margin-bottom: 20px;
    font-weight: -2;
    line-height: 60.1894px;
    color: #0d016b;
  }

  .text-content2 {
    display: block;
    background-color: white;
    padding: 20px;
  }

  .text-content2 p {
    font-size: 30px;
    line-height: 40px;
    margin-top: 10px;
  }

  .text-content2 h2 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 10px;
    color: #a20fb7;
  }

  .action-button {
    background-color: white;
    margin-top: 5px;
    color: #a20fb7;
    padding: 10px 20px;
    border-color: #a20fb7;
    border-radius: 30px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    transition: background-color 0.3s ease;
  }

  h2 {
    font-family: Geomanist, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 10px;
    color: #a20fb7;
  }

  .content-section .content-1 {
    background-color: white;
    padding: 20px 30px 20px 30px;
  }

  .content-section .content-1 h1 {
    font-size: 20px;
    padding: 20px 0px 20px 0px;
    color: #0d016b;
  }

  .content-section .content-1 p {
    font-size: 16px;
    line-height: 25px;
    text-align: justify;
  }

  .content-section .content-1 h2 {
    font-size: 20px;
    color: #0d016b;
    line-height: 25px;
  }

  .content-section .content-2 {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
  }

  .content-section .content-2 .sl1 .sliderimg {
    width: 100%;
    height: 200px;
  }

  .content-section .content-2 .sl1data {
    padding: 20px 10px 20px 10px;
  }

  .content-section .content-2 .sl1data h1 {
    color: #0d016b;
  }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */
  .text-content {
    display: none;
  }
  .main-bg {
    position: relative;
    width: 100%;
    height: 280px;
    background-position: center;
  }
  p {
    font-family: Geomanist, Helvetica, Arial, sans-serif;
    font-size: 20.008px;
    margin-bottom: 20px;
    font-weight: -2;
    line-height: 60.1894px;
    color: #0d016b;
  }
  .text-content2 {
    display: block;
    background-color: white;
    padding: 20px;
  }

  .text-content2 p {
    font-size: 30px;
    line-height: 40px;
    margin-top: 10px;
  }

  .text-content2 h2 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 10px;
    color: #a20fb7;
  }

  .action-button {
    background-color: white;
    margin-top: px;
    color: #a20fb7;
    padding: 10px 20px;
    border-color: #a20fb7;
    border-radius: 30px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    transition: background-color 0.3s ease;
  }
  h2 {
    font-family: Geomanist, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    color: #a20fb7;
    margin-bottom: 20px;
  }

  .content-section .content-1 {
    background-color: white;
    padding: 20px 50px 20px 50px;
  }

  .content-section .content-1 h2 {
    font-size: 20px;
    color: #0d016b;
    line-height: 25px;
  }

  .content-section .content-2 {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px 50px 20px 50px;
  }

  .content-section .content-2 .sl1 .sliderimg {
    width: 100%;
    height: 400px;
  }

  .content-section .content-2 .sl1 h2 {
    font-size: 25px;
  }

  .content-section .content-2 .sl1data {
    padding: 20px 10px 20px 10px;
  }

  .content-section .content-2 .sl1data h1 {
    color: #0d016b;
  }

  .content-section .content-2 .sl1data h2 {
    font-size: 20px;
  }
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles */
  .text-content {
    display: none;
  }

  .main-bg {
    position: relative;
    width: 100%;
    height: 280px;
    background-position: center;
  }

  p {
    font-family: Geomanist, Helvetica, Arial, sans-serif;
    font-size: 20.008px;
    margin-bottom: 20px;
    font-weight: -2;
    line-height: 60.1894px;
    color: #0d016b;
  }
  .text-content2 {
    display: block;
    background-color: white;
    padding: 20px;
  }

  .text-content2 p {
    font-size: 30px;
    line-height: 40px;
    margin-top: 10px;
  }

  .text-content2 h2 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 10px;
    color: #a20fb7;
  }

  .action-button {
    background-color: white;
    margin-top: 5px;
    color: #a20fb7;
    padding: 10px 20px;
    border-color: #a20fb7;
    border-radius: 30px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    transition: background-color 0.3s ease;
  }

  h2 {
    font-family: Geomanist, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    color: #a20fb7;
  }

  .content-section .content-1 {
    background-color: white;
    padding: 20px 30px 20px 30px;
  }

  .content-section .content-1 h1 {
    font-size: 20px;
    padding: 20px 0px 20px 0px;
    color: #0d016b;
  }

  .content-section .content-1 p {
    font-size: 16px;
    line-height: 25px;
    text-align: justify;
  }

  .content-section .content-1 h2 {
    font-size: 20px;
    color: #0d016b;
    line-height: 25px;
  }

  .content-section .content-2 .sl1 .sliderimg {
    width: 100%;
    height: 200px;
  }
  .content-section .content-2 .sl1data {
    padding: 20px 10px 20px 10px;
  }

  .content-section .content-2 .sl1data h1 {
    color: #0d016b;
  }
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles */
}
/**********
iPad 3
**********/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  /* Styles */
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  /* Styles */
}
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  /* Styles */
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}
